.body {
	font-family: Arial, Helvetica, sans-serif;
	background: #26423a
}

.form-section {
	background: 
}

.content-section {
 	background: #e5e5e5;
	padding: 10px 20px;
	border: 1px solid #f9f9f9;
	border-radius: 10px;
	margin-bottom: 20px;
}

.task-title {
	color: #161616;
	font-size: 20px;
	margin-bottom: 10px;
}

.task-content {
	color: #e5e5e5;
	padding: 5px 5px;
	background: #226654;
	border: 1px solid #444444;
	border-radius: 10px;
	white-space: pre-line;
	font-size: 14px
}